[submodule "React-Native-App"]
	path = React-Native-App
	url = https://github.com/vczero/React-Native-App
[submodule "dom-scripting-10"]
	path = dom-scripting-10
	url = https://github.com/apress/dom-scripting-10.git
[submodule "pro-css3-animation"]
	path = pro-css3-animation
	url = https://github.com/apress/pro-css3-animation.git
[submodule "foundation-html5-animation-w-javascript"]
	path = foundation-html5-animation-w-javascript
	url = https://github.com/Apress/foundation-html5-animation-w-javascript.git
[submodule "you-dont-know-js"]
	path = you-dont-know-js
	url = https://github.com/getify/you-dont-know-js.git
[submodule "book-source"]
	path = book-source
	url = https://github.com/funjs/book-source
[submodule "promises-book"]
	path = promises-book
	url = https://github.com/azu/promises-book.git
[submodule "data_structures_and_algorithms_using_javascript"]
	path = data_structures_and_algorithms_using_javascript
	url = https://github.com/oreillymedia/data_structures_and_algorithms_using_javascript.git
[submodule "React-Design-Patterns-and-Best-Practices"]
	path = React-Design-Patterns-and-Best-Practices
	url = https://github.com/PacktPublishing/React-Design-Patterns-and-Best-Practices.git
[submodule "react-redux-book"]
	path = react-redux-book
	url = https://github.com/lewis617/react-redux-book.git
[submodule "Mastering-React-Native"]
	path = Mastering-React-Native
	url = https://github.com/PacktPublishing/Mastering-React-Native.git
[submodule "react"]
	path = react
	url = https://github.com/azat-co/react.git
[submodule "react-and-redux"]
	path = react-and-redux
	url = https://github.com/mocheng/react-and-redux.git
[submodule "pro-react/react-app-boilerplate"]
	path = pro-react/react-app-boilerplate
	url = https://github.com/pro-react/react-app-boilerplate.git
[submodule "pro-react/sample-code"]
	path = pro-react/sample-code
	url = https://github.com/pro-react/sample-code.git
[submodule "pro-react/react-app-advanced-boilerplate"]
	path = pro-react/react-app-advanced-boilerplate
	url = https://github.com/pro-react/react-app-advanced-boilerplate.git
[submodule "pro-react/kanban-app"]
	path = pro-react/kanban-app
	url = https://github.com/pro-react/kanban-app.git
[submodule "pro-react/pro-react.github.io"]
	path = pro-react/pro-react.github.io
	url = https://github.com/pro-react/pro-react.github.io.git
[submodule "the-road-to-learn-react/react-firebase-chat"]
	path = the-road-to-learn-react/react-firebase-chat
	url = https://github.com/the-road-to-learn-react/react-firebase-chat.git
[submodule "the-road-to-learn-react/the-road-to-learn-react-chinese"]
	path = the-road-to-learn-react/the-road-to-learn-react-chinese
	url = https://github.com/the-road-to-learn-react/the-road-to-learn-react-chinese.git
[submodule "the-road-to-learn-react/hackernews-client"]
	path = the-road-to-learn-react/hackernews-client
	url = https://github.com/the-road-to-learn-react/hackernews-client.git
[submodule "Mastering-Full-Stack-React-Web-Development"]
	path = Mastering-Full-Stack-React-Web-Development
	url = https://github.com/PacktPublishing/Mastering-Full-Stack-React-Web-Development.git
[submodule "react-essentials/react-essentials"]
	path = react-essentials/react-essentials
	url = https://github.com/fedosejev/react-essentials.git
[submodule "react-essentials/react-essentials-project"]
	path = react-essentials/react-essentials-project
	url = https://github.com/fedosejev/react-essentials-project.git
[submodule "react-essentials/shopping-list-react-redux"]
	path = react-essentials/shopping-list-react-redux
	url = https://github.com/fedosejev/shopping-list-react-redux.git
[submodule "SimpleCMS-JAVA"]
	path = SimpleCMS-JAVA
	url = https://github.com/tianxiaode/SimpleCMS-JAVA
