[submodule "React-Native-App"]
	path = React-Native-App
	url = https://github.com/vczero/React-Native-App
[submodule "dom-scripting-10"]
	path = dom-scripting-10
	url = https://github.com/apress/dom-scripting-10.git
[submodule "pro-css3-animation"]
	path = pro-css3-animation
	url = https://github.com/apress/pro-css3-animation.git
[submodule "foundation-html5-animation-w-javascript"]
	path = foundation-html5-animation-w-javascript
	url = https://github.com/Apress/foundation-html5-animation-w-javascript.git
[submodule "you-dont-know-js"]
	path = you-dont-know-js
	url = https://github.com/getify/you-dont-know-js.git
[submodule "book-source"]
	path = book-source
	url = https://github.com/funjs/book-source
[submodule "promises-book"]
	path = promises-book
	url = https://github.com/azu/promises-book.git
[submodule "data_structures_and_algorithms_using_javascript"]
	path = data_structures_and_algorithms_using_javascript
	url = https://github.com/oreillymedia/data_structures_and_algorithms_using_javascript.git
